.flex {
  display: flex;
  align-items: center;
}
.back {
  position: fixed;
  z-index: 9999;
}
.next {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
}
.previous {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
}
.section {
  position: relative;
  padding: 1rem 0;
  color: white;
}
.section:hover {
  color: white;
}
.section::before,
.section::after {
  content: "";
  position: absolute;
  height: 2%;
  width: 0%;
  background-color: rgba(255, 255, 255, 0.445);
  transition: 400ms;
}
.section::before {
  top: 0;
  left: 0;
}
.section::after {
  bottom: 0;
  right: 0;
}
.section:hover::before,
.section:hover::after {
  width: 100%;
}
.section .bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -2;
  transition: 200ms;
}
.section:hover .moveBg {
  background-position: 10px;
}
.section .bg::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(15deg, black, rgba(0, 0, 0, 0.384));
}
.section .header {
  justify-content: space-between;
  padding: 0 1rem;
}
.section .header .title {
  font-size: 3rem;
  z-index: 2;
  text-shadow: 0 0 10px rgb(97, 237, 255);
  font-family: var(--ff-bebas);
  word-spacing: 0.3rem;
  line-height: 1;
}
.section .main-link {
  color: white;
  text-decoration: underline;
}
.section .main-link:hover {
  color: rgb(207, 207, 207);
}
.section .header .right {
  font-family: var(--ff-teko);
  width: 140px;
  text-align: center;
}
.coat {
  width: 3rem;
}
.currencies .currency {
  flex-direction: column;
  margin: 0 0.5rem;
}
.currency .symbol {
  text-shadow: 0 0 20px white, 0 0 20px white;
  font-size: 1.5rem;
}
.currency .name {
  font-family: var(--ff-teko);
  font-size: 1.2rem;
}
.main {
  margin: 1rem;
  justify-content: space-between;
  align-items: flex-end !important;
  font-family: var(--ff-oswald);
}
.main-news {
  flex-direction: column;
  align-items: flex-start !important;
}
@media screen and (max-width: 500px) {
  .section {
    padding: 1vh 1vw;
  }
  .section .header .left .name {
    font-size: 7vw;
  }
  .coat {
    width: 7vw;
  }
  .currencies .currency {
    margin: 0 2vw;
  }
  .main {
    align-items: flex-start !important;
    flex-direction: column;
  }
  .main .right {
    /* background-color: red; */
    word-wrap: break-word;
  }
}
