#root {
  margin: 0 auto;
}
.loading {
  height: 100vh;
  width: 100vw;
  position: fixed;
  transition: 200ms ease-out;

  left: 0;
  background-color: #34343475;
  z-index: 9999999999999999;
  backdrop-filter: blur(20px);
  justify-content: center;
}
.loadingAnim {
  height: 15vw;
  width: 15vw;
  border-radius: 100%;
  border: 10px solid #454545;
  border-top-color: rgb(255, 148, 148);
  animation: loading 1s infinite linear, loadingColor 1s infinite linear;
}
@keyframes loadingColor {
  0%,
  100% {
    border-top-color: rgb(255, 0, 0);
  }
  50% {
    border-top-color: rgb(255, 94, 0);
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
