:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ff-bebas: "Bebas Neue", cursive;
  --ff-oswald: "Oswald", sans-serif;
  --ff-teko: "Teko", sans-serif;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}
.flex {
  display: flex;
  align-items: center;
}
a {
  /* font-weight: 500; */
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
button {
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.356);
  backdrop-filter: blur(4px);
  border: none;
  box-shadow: 0 0 0px 1px white;
  transition: 200ms ease;
  /* border-radius: 10px; */
  margin: 1rem 0;
  cursor: pointer;
}
button:hover {
  box-shadow: 2px 2px 0px 3px white;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
